---
import PostsLayout from "@/layouts/PostsLayout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const postsEntries = await getCollection("posts");

  return postsEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<PostsLayout
  title={entry.data.title}
  description={entry.data.description}
  url=`https://jspark.dev/posts/${entry.slug}`
>
  <section class="prose prose-invert mx-auto">
    <Content />
  </section>
</PostsLayout>
