---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="About Me"
	pubDate={new Date('July 15 2023')}
	updatedDate={new Date()}
	heroImage="/placeholder-about.jpg"
>
	<p>I create various projects using Next.js and Astro.</p>
</Layout>
