---
import Layout from "../layouts/Layout.astro";
---

<Layout title="JsPark">
  <main class="p-8 max-w-3xl mx-auto">
    <article class="introduce pb-4">
      <h1
        class="text-4xl font-semibold pb-4 text-transparent bg-clip-text bg-gradient-to-bl from-[#89ff45] to-[#007fe7] animate-bounce"
      >
        JsPark
      </h1>
      <h2 class="text-2xl pb-2">Hello, I am JsPark!</h2>
      <p class="text-sm pb-2">
        I'm a <span class="text-[#4bff3a]">Front End Engineer</span> in <span
          class="text-[#ff4f4f]">South Korea</span
        >.
      </p>
      <p class="text-sm">
        And I'm interested in building stuff using Open Source Projects such as <a
          href="https://astro.build"
          target="_blank"
          title="Astro"
          class="text-[#ff8c2f]">Astro</a
        >,
        <a
          href="https://remix.run"
          target="_blank"
          class="text-[#f833ff]"
          title="Remix">Remix</a
        >, and <a
          href="https://vitejs.dev"
          target="_blank"
          title="Vite"
          class="text-[#fcff34]">Vite</a
        >.
      </p>
    </article>
    <nav class="social">
      <ul class="flex gap-6">
        <li>
          <a
            href="https://github.com/jsparkdev"
            target="_blank"
            title="Github"
            class="text-[#ff5eff]">Github</a
          >
        </li>
        <li>
          <a
            href="https://linkedin.com/in/jsparkdev"
            target="_blank"
            title="Linkedin"
            class="text-[#007fe7]"
            >Linkedin
          </a>
        </li>
        <li>
          <a
            href="https://x.com/jsparkdev"
            target="_blank"
            title="Twitter"
            class="text-[#1da1f2]"
            >Twitter
          </a>
        </li>
      </ul>
    </nav>
  </main>
</Layout>
