---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h2>⚒️ I use</h2>
      <ul>
        <li>
          <a href="https://nextjs.org" target="_blank" title="Next.js"
            >Next.js</a
          > and <a
            href="https://www.typescriptlang.org/"
            target="_blank"
            title="TypeScript">TypeScript</a
          > for building web apps
        </li>
        <li>
          <a href="https://tailwindcss.com" target="_blank" title="TailwindCSS"
            >TailwindCSS</a
          > for styling
        </li>
        <li>
          <a href="https://vercel.com/docs" target="_blank" title="Vercel"
            >Vercel</a
          > for deployment
        </li>
      </ul>
    </main>
    <Footer />
  </body>
</html>
