---
import Layout from "~/layouts/Layout.astro";
---

<Layout>
  <main class="flex flex-col gap-10">
    <div class="flex flex-col gap-1">
      <p>웹 풀스택 개발자 박준성입니다.</p>
      <p>
        주로 <a
          href="https://remix.run"
          target="_blank"
          class="underline hover:text-yellow-300 transition-color duration-300"
          >Remix</a
        >, <a
          href="https://astro.build"
          target="_blank"
          class="underline hover:text-yellow-300 transition-color duration-300"
          >Astro</a
        > 프레임워크를 사용합니다.
      </p>
      <p>
        스타일링을 위해 <a
          href="https://tailwindcss.com"
          target="_blank"
          class="underline hover:text-yellow-300 transition-color duration-300"
          >Tailwind CSS</a
        >를 사용합니다.
      </p>
      <p>웹 성능 최적화에 관심이 많습니다.</p>
    </div>
    <div class="flex flex-col gap-1">
      <ul class="flex gap-2 justify-end">
        <li>
          <a
            href="https://github.com/jsparkdev"
            target="_blank"
            class="hover:underline">Github</a
          >
        </li>
        <li>
          <a
            href="https://x.com/jsparkdev"
            target="_blank"
            class="hover:underline">Twitter</a
          >
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/jsparkdev"
            target="_blank"
            class="hover:underline">Linkedin</a
          >
        </li>
      </ul>
      <a href="/posts" class="hover:underline text-right"
        >게시물 보러가기 &rarr;</a
      >
    </div>
  </main>
</Layout>
