---
import Introduce from "@/components/Introduce.astro";
import Skills from "@/components/Skills.astro";
import SocialLinks from "@/components/SocialLinks.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Home">
  <section class="flex flex-col gap-3">
    <Introduce />
    <Skills />
    <SocialLinks />
  </section>
</Layout>
