---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h2>⚒️ I use</h2>
      <ul>
        <li>
          <a href="https://nextjs.org" target="_blank" title="Next.js"
            >Next.js</a
          > for web apps
        </li>
        <li>
          <a href="https://astro.build" target="_blank" title="Astro">Astro</a>
           for static pages
        </li>
        <li>
          <a href="https://ui.shadcn.com" target="_blank" title="shadcn/ui"
            >shadcn/ui</a
          > (<a
            href="https://tailwindcss.com"
            target="_blank"
            title="TailwindCSS">TailwindCSS</a
          >
           and <a
            href="https://www.radix-ui.com"
            target="_blank"
            title="RadixUI">RadixUI</a
          >) for style
        </li>
        <li>
          <a href="https://vercel.com/docs" target="_blank" title="Vercel"
            >Vercel</a
          > for project deployment
        </li>
        <li>
          <a href="https://www.prisma.io" target="_blank" title="Prisma"
            >Prisma</a
          > for ORM
        </li>
      </ul>
    </main>
    <Footer />
  </body>
</html>
