---
import Layout from "~/layouts/Layout.astro";
import { getCollection } from "astro:content";

const allPosts = await getCollection("posts");

const allTags = Array.from(
  new Set(allPosts.map((post) => post.data.tags).flat()),
).sort((a, b) => a.localeCompare(b));
---

<Layout>
  <div class="flex flex-col gap-14">
    <section class="flex flex-col gap-4">
      <h1 class="text-5xl">전체 게시물</h1>
      <ul>
        {
          allPosts.map((post) => {
            return (
              <li>
                <a href={`/posts/${post.slug}`} class="hover:underline">
                  {post.data.title}
                </a>
              </li>
            );
          })
        }
      </ul>
    </section>
    <section class="flex flex-col gap-4">
      <h1 class="text-5xl">태그</h1>
      <ul class="flex gap-2">
        {
          allTags.map((tag) => {
            return (
              <li>
                <a
                  href={`/tags/${tag}`}
                  class="bg-white bg-opacity-20 px-3 rounded-xl py-1.5 text-base hover:bg-opacity-30 transition-color duration-300"
                >
                  {tag}
                </a>
              </li>
            );
          })
        }
      </ul>
    </section>
  </div>
</Layout>
