---
interface Props {
  title: string;
  href: string;
  description?: string;
}

const { title, href = "/", description = "" } = Astro.props;
---

<a
  href={href}
  target="_blank"
  title={title}
  class="flex flex-col px-4 py-3 ring bg-transparent hover:bg-[#363636] transition-colors group"
>
  <h2 class="text-lg text-white font-bold">{title}</h2>
  <p class="text-xs font-thin text-[#858585] group-hover:text-end">
    {description}
  </p>
</a>
