---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
  <h2>
    {SITE_TITLE}
  </h2>
  <nav>
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
    <HeaderLink href="/about">About</HeaderLink>
    <HeaderLink href="https://twitter.com/junseongparkme" target="_blank">
      Twitter <svg
        viewBox="0 0 24 24"
        width="14"
        height="14"
        astro-icon="pixelarticons:external-link"
        ><path
          fill="currentColor"
          d="M21 11V3h-8v2h4v2h-2v2h-2v2h-2v2H9v2h2v-2h2v-2h2V9h2V7h2v4h2zM11 5H3v16h16v-8h-2v6H5V7h6V5z"
        ></path></svg
      >
    </HeaderLink>
    <HeaderLink href="https://github.com/junseongparkme" target="_blank">
      GitHub <svg
        viewBox="0 0 24 24"
        width="14"
        height="14"
        astro-icon="pixelarticons:external-link"
        ><path
          fill="currentColor"
          d="M21 11V3h-8v2h4v2h-2v2h-2v2h-2v2H9v2h2v-2h2v-2h2V9h2V7h2v4h2zM11 5H3v16h16v-8h-2v6H5V7h6V5z"
        ></path></svg
      >
    </HeaderLink>
  </nav>
</header>
<style>
  header {
    margin: 0em 0 2em;
  }
  h2 {
    margin: 0.5em 0;
  }
</style>
