---
import { navMenu } from "../data";
---

<header class="mt-10 w-full">
  <nav class="flex justify-center">
    <ul
      class="flex w-1/2 rounded-3xl px-4 py-1 text-xs justify-center gap-6 min-w-[340px]"
    >
      {
        navMenu.map((menu) => (
          <li>
            <a href={menu.to} class="transition-opacity hover:opacity-50">
              {menu.name}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
