<article class="flex flex-col gap-4 sm:gap-0">
  <p class="leading-5 sm:leading-6">
    💻 Interested in web development with <a
      href="https://react.dev"
      target="_blank"
      class="text-[#4adcf0] transition-opacity hover:opacity-50">React</a
    > ecosystem
  </p>
  <p class="leading-tight text-xs flex justify-start sm:justify-end">
    <a
      href="https://react.dev"
      target="_blank"
      title="React"
      class="pr-1 transition-opacity hover:opacity-50">React</a
    >
    <span class="hidden sm:block">|</span>
    <a
      href="https://remix.run"
      target="_blank"
      title="Remix"
      class="px-1 transition-opacity hover:opacity-50">Remix</a
    >
    <span class="hidden sm:block">|</span>
    <a
      href="https://astro.build"
      target="_blank"
      title="Astro"
      class="px-1 transition-opacity hover:opacity-50">Astro</a
    >
    <span class="hidden sm:block">|</span>
    <a
      href="https://typescriptlang.org"
      target="_blank"
      title="TypeScript"
      class="pl-1 transition-opacity hover:opacity-50">TypeScript</a
    >
  </p>
</article>
