<article>
  <p class="leading-5 sm:leading-6">
    💻 Interested in web development with <a
      href="https://react.dev"
      target="_blank"
      class="text-[#4adcf0] transition-opacity hover:opacity-50">React</a
    > ecosystem
  </p>
  <p>
    <a
      href="https://react.dev"
      target="_blank"
      title="React"
      class="pr-2 transition-opacity hover:opacity-50">React</a
    > | <a
      href="https://remix.run"
      target="_blank"
      title="Remix"
      class="px-2 transition-opacity hover:opacity-50">Remix</a
    > | <a
      href="https://astro.build"
      target="_blank"
      title="Astro"
      class="px-2 transition-opacity hover:opacity-50">Astro</a
    >
  </p>
</article>
