---
import { skills } from "@/data";
import LinkText from "./LinkText.astro";
---

<h1 class="text-3xl font-bold">Hello, I'm JsPark!</h1>
<h2 class="text-lg">
  I'm a <span class="text-[#4bff3a]">Front End Engineer</span> in <span
    class="text-[#ff4f4f]">South Korea</span
  >.
</h2>
<section>
  <p class="text-sm">And I'm interested in</p>
  <nav class="flex gap-4">
    {
      skills.map((skill) => (
        <li class="list-none hover:opacity-75 transition-opacity">
          <LinkText to={skill.url} color={skill.color}>
            {skill.name}
          </LinkText>
        </li>
      ))
    }
  </nav>
</section>
