<article>
  <h1 class="text-3xl font-bold">Hello, I'm JsPark!</h1>
  <p class="text-lg">
    I'm a <span class="text-[#4bff3a]">Front End Engineer</span> in <span
      class="text-[#ff4f4f]">South Korea</span
    >.
  </p>
</article>
<article>
  <p>
    And interested in web development with <a
      href="https://react.dev"
      target="_blank">React</a
    > ecosystem.
  </p>
</article>
