<article class="flex flex-col gap-4 sm:gap-0">
  <p
    class="leading-5 sm:leading-6 text-center sm:text-left animate-fade-in-0.5 opacity-0"
  >
    💻 Interested in web development with <a
      href="https://react.dev"
      target="_blank"
      class="text-[#4adcf0] transition-opacity hover:opacity-50">React</a
    > ecosystem
  </p>
  <p class="leading-tight text-xs flex justify-center sm:justify-end">
    <a
      href="https://react.dev"
      target="_blank"
      title="React"
      class="pr-1 transition-opacity hover:opacity-50 animate-fade-in-0.75 opacity-0"
      >React</a
    >
    <span class="hidden sm:block animate-fade-in-0.85 opacity-0">|</span>
    <a
      href="https://remix.run"
      target="_blank"
      title="Remix"
      class="px-1 transition-opacity hover:opacity-50 animate-fade-in-0.95 opacity-0"
      >Remix</a
    >
    <span class="hidden sm:block animate-fade-in-1.05 opacity-0">|</span>
    <a
      href="https://astro.build"
      target="_blank"
      title="Astro"
      class="px-1 transition-opacity hover:opacity-50 animate-fade-in-1.15 opacity-0"
      >Astro</a
    >
    <span class="hidden sm:block animate-fade-in-1.25 opacity-0">|</span>
    <a
      href="https://typescriptlang.org"
      target="_blank"
      title="TypeScript"
      class="px-1 transition-opacity hover:opacity-50 animate-fade-in-1.35 opacity-0"
      >TypeScript</a
    >
    <span class="hidden sm:block animate-fade-in-1.45 opacity-0">|</span>
    <a
      href="https://vitejs.dev"
      target="_blank"
      title="Vite"
      class="pl-1 transition-opacity hover:opacity-50 animate-fade-in-1.55 opacity-0"
      >Vite</a
    >
  </p>
</article>
