---
interface Props {
  name: string;
  to: string;
  description: string;
}

const { name, to, description } = Astro.props;
---

<a
  href={to}
  target="_blank"
  title={name}
  class="flex flex-col px-4 py-3 ring bg-transparent hover:bg-[#363636] transition-colors group h-full justify-between"
>
  <h2 class="text-lg text-white font-bold">{name}</h2>
  <p class="text-xs font-thin text-[#858585] group-hover:text-end">
    {description}
  </p>
</a>
