---
const { title } = Astro.props;
---

<meta charset="UTF-8" />
<meta name="description" content="JsPark's website" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
<meta name="generator" content={Astro.generator} />
<title>{title ? title : "JsPark"}</title>

<meta property="og:type" content="website" />
<meta property="og:title" content="JsPark" />
<meta property="og:url" content="https://jspark.dev" />
<meta property="og:image" content="/og.png" />
<meta property="og:description" content="JsPark's website" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="JsPark" />
<meta name="twitter:site" content="@jsparkdev" />
<meta name="twitter:description" content="JsPark's website" />
<meta name="twitter:image" content="/tw.png" />
<meta name="twitter:image:alt" content="JsPark's website logo" />
