<article class="text-center sm:text-left">
  <h1 class="text-5xl font-bold animate-fade-in opacity-0">JsPark</h1>
  <p class="text-xs animate-fade-in-1 opacity-0">
    <span class="text-[#4adcf0]">Front End Engineer</span>
  </p>
</article>
