<article>
  <h1 class="text-5xl font-bold">JsPark</h1>
  <p class="text-xs">
    <span class="text-[#4bff3a]">Front End Engineer</span> in <span
      class="text-[#ff4f4f]">South Korea</span
    >
  </p>
</article>

