---
import BaseLayout from "./BaseLayout.astro";
---

<BaseLayout>
  <main class="flex justify-center pt-10 h-screen">
    <section class="px-3">
      <slot />
    </section>
  </main>
</BaseLayout>
